#ifdef VENDOR_EDIT
config OPPO_SHUTDOWN_DETECT
        bool "OPPO shutdown hang detect"
        default y
        help
            define this config to init oppo oppo_shutdown_detect.
#endif /* VENDOR_EDIT */

